# Note: These are extracted from the Google Drive FS Native App and support FULL Permissions
# Only use these for testing and experimentation - Caveat Emptor
CLIENT_ID=...
CLIENT_SECRET=...
CLIENT_SCOPES=https://www.googleapis.com/auth/drive
